#Image{
  background: url("../../../image/cool.png") no-repeat center /cover;
  min-height: 80vh;
  .image{
    //padding-top: 110px;
    &--img{
      //position:absolute;
      img{
        //width: 100%;
      }
    }
    &--letters{
      //position: relative;
      text-align: center;
      padding-top: 200px;
      h1{
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        color: #FFFFFF;
      }
      p{
        font-weight: 400;
        font-size: 18px;
        color: #19272E;
        line-height: 70px;
      }
    }
  }
}