#Image{
  .image{
    padding-top: 110px;
    &--img{
      img{
        width: 100%;
        position:absolute;

      }
    }
    &--letters{
      position: relative;
      text-align: center;
      top: 200px;
      h1{
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        color: #FFFFFF;
      }
      p{
        font-weight: 400;
        font-size: 18px;
        color: #19272E;
        line-height: 70px;
      }
    }
  }
}