#header {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 30px 0;
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  width: 100%;
  z-index: 2;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--header1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .active {
        color: #818EEA;
      }

      a {
        padding: 0 20px;
        font-size: 19px;
        line-height: 20px;
        color: #19272E;

        &:hover {
          color: #818EEA;
          border-bottom: 1px solid #818EEA;
        }
      }
    }

    &--boxAll {
      display: flex;
      align-items: center;
      a{margin-left: 10px}
      &__box {
        position: absolute;
        top: -25%;
        right: 8%;
        height: 40px;
        transform: translate(-25%, 50%);
        background: transparent;
        border-radius: 30px;
        padding: 10px;

        &:hover {
          background: aqua;
        }

        &:hover > .header--boxAll__box--txt {
          width: 150px;
          padding: 0 6px;
          background: #19272E;
          border-radius: 30px;
          border: 1px solid green;
        }

        &:hover > .header--boxAll__box--btn {
          color: black;
          float: left;
        }

        &--txt {
          border: none;
          background: transparent;
          outline: none;
          float: left;
          padding: 0;
          color: #FFFFFF;
          font-size: 16px;
          transition: 0.4s;
          width: 0;
          height: 40px;
        }

        &--btn {
          color: #0D0D0D;
          float: right;
          width: 40px;
          height: 40px;
          font-size: 20px;
          border-radius: 50%;
          background: transparent;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
        }
      }
    }}
  }

