#header {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 30px 0;
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  width: 100%;
  z-index: 2;
  .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &--header1{
        .active{
          color: #818EEA;
        }
        a{
          padding: 0 20px;
          font-size: 19px;
          line-height: 20px;
          color: #19272E;
          &:hover{
            color: #818EEA;
            border-bottom: 1px solid #818EEA ;
          }
        }
      }
      &--header2{
        display: flex;
        align-items: center;
        &__icon{
          margin: 0 20px;
          font-size: 20px;
          color: #19272E;
          &--icon2{
            color: #19272E;
          }
        }
      }
    }
}
