//@media (max-width: 1140px) {
//  .container{
//    width: 90%; !important;
//  }
//  #useBook{
//    .useBook{
//      &--testBook p {
//        width: 535px; !important;
//      }
//    }
//  }
//}
@media (max-width: 1139px) {
  .container{width: 1024px;}
}
@media (max-width: 1023px) {
  .container{width: 910px}
  .useBook--testBook{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
