@media (max-width: 992px) {
  #footer{
    padding: 20px 0;
    .footer{
      flex-direction: column;
      &--nav2{
        justify-content: normal;
      }
      &--nav{
        padding: 30px 20px;
        &__btn{
          left: 32%;
        }
      }
    }
  }
}
@media (max-width: 820px) {
  #footer{
    .footer{
      &--nav{
        &__btn{
          left: 52%;
        }
      }
    }
  }

}