@import "../src/style/footer";
@import "../src/style/header";
@import "../src/style/Image";
@import "../src/style/NewBooks";
@import "../src/style/Pagebook";
@import "../src/style/SwiperBooks";
@import "../src/style/UseBook";
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "../src/style/bookShop";
@import "../src/style/yourCart";
@import "../src/style/allbooks";
@import "../src/components/AllBooks/media";


body,html{
  scroll-behavior: smooth;
  font-family: "Public Sans",sans-serif;
}



#error{
  background: url("img/Main.jpg") no-repeat center/cover;
text-align: center;
  height: 600px;
  h1{
    color: red;
    font-size: 50px;
    font-weight: 900;
    transform: translateY(230px);
  }
}